* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}
// Header
#text-navbar {
  font-size: 20px;
  color: white;
}
// Header
// Principal
.container-img {
  background-image: url(../../img/one-piece-img1.jpg);
  padding-bottom: $padding-bottom;
}
.div-text-principal {
  margin-top: 160px;
}
.paragraph-principal {
  color: rgb(255, 255, 255);
}
.btn {
  color: white;
}
// Principal Final
// Segundo conteudo
.container-img-2 {
  background-image: url(../../img/grandline.jpg);
  margin-top: -160px;
  padding-bottom: $padding-bottom;
}
.paragraph-principal-2 {
  color: rgb(255, 255, 255);
}
.div-text-principal-2 {
  padding-left: $padding-left-text;
  padding-top: $padding-top;
}
// Terceiro conteudo
.container-img-3 {
  background-image: url(../../img/3951.gif);
  padding-bottom: $padding-bottom;
}
.div-text-principal-3 {
  padding-left: $padding-left-text;
  padding-top: $padding-top;
}
// Quarto cónteudo
.container-img-4 {
  background-image: url(../../img/novas\ aventuras.jpg);
  padding-bottom: $padding-bottom;
}
.div-text-principal-4 {
  padding-left: $padding-left-text;
  padding-top: $padding-top;
}
// Footer
.container-footer {
  min-width: 100vh;
}
.footer-rows {
  padding-left: 60vh;
}
.paragraph-footer {
  cursor: pointer;
}
